body{
    /* background-color: #AC7D88;  */
    /* background: #FF416C;  
background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  
background: linear-gradient(to right, #FF4B2B, #FF416C);  */
background-color: #80BCBD;

}

button{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

form{
    background: #74ebd5;  
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  
    background: linear-gradient(to right, #ACB6E5, #74ebd5); 

}

.tab{
    background: #74ebd5;  
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  
    background: linear-gradient(to right, #ACB6E5, #74ebd5); 
}

.le{
    background-color: #B4D4FF;
    background: -webkit-linear-gradient(to right, #B4D4FF, #B4D4FF);  
    background: linear-gradient(to right, #B4D4FF, #B4D4FF); 
}